header {
    background-color: rgb(90, 133, 90);
    color: lavender;
    padding: 20px 25px;
    text-align: center;
    border-radius: 20px;
    font-size: 1.1em;
}
body{
    background-color: rgb(143, 188, 143);
    text-align: center;
    
}

.btn-apply{
    background: rgb(92, 151, 92);
    color: rgb(255, 255, 255);
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
    width: 35%;
    text-align: center;
}

.btn-apply:hover{
    transform: scale(1.1);
    background: rgb(72, 131, 72);
}

legend{
     font-size: 2.5em;
     background-color: rgba(120, 179, 120, 0.838);
}

fieldset{
    background-color: rgba(120, 179, 120, 0.838);
}

p{
    font-size: 20px;
    text-align:center;
}