body {
    text-align: center;
    background-color: #18a274;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(90, 133, 90);
    color: lavender; 
    padding: 20px 30px;
    text-align: center;
    font-size: 3.5em;
    border-radius: 20px;
}

#nuevo {
    background: rgb(92, 151, 92);
    color: rgb(255, 255, 255);
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer; 
    /*para texto en negrita*/
    font-weight: 700;
    font-size: 0.9rem;
    width: 35%;
    text-align: center;
    transition: transform 0.2s, background 0.2s; 
}

#nuevo:hover {
    transform: scale(1.1);
    background: rgb(72, 131, 72);
}

.contenedor {
    background: lavender;
    margin: 30px auto;
    padding: 20px;
    width: 80%; 
    border-radius: 15px;
}

.filtro select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(125, 204, 125);
    color: green;
    font-weight: bold;
    font-size: 0.9rem;
}

.evento {
    background: rgb(151, 236, 224);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    /*para poner el texto a la izquierda y los botones a la derecha */
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.acciones button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.2s; 
}

.acciones button:hover {
    transform: scale(1.1);
}

.editar {
    background: rgb(72, 131, 200); 
    color: white;
}

.borrar {
    background: rgb(200, 50, 50);
    color: white;
}